body {
    margin: 0;
}
.container{
    border: 6px solid black;
    display: flex;
  
    height:800px;
    align-items: baseline;

}
.flex-item{
    color:antiquewhite;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.item-1{
    background-color: olive;
    padding-bottom: 3rem;
}
.item-2{
    background-color: lightsalmon;
    padding-bottom: 5rem;
}
.item-3{
    background-color: navy;
    font-size: 3rem;
}
.item-4{
    background-color: lightpink;
}
.item-5{
    background-color: lightgoldenrodyellow;
}
.item-6{
    background-color: mediumaquamarine;
}
.item-7{
    background-color: mediumslateblue;
}
.item-8{
    background-color: lime;
}
.item-9{
    background-color: crimson;
}